* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.AddVideoContainer {
    background-image: url('AddVideoBackImg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.AddVideoForm {
    background-color: white;
    opacity: 0.92;
    height: 82vh;
    width: 22rem;
    border-radius: 30px;
    padding: 0rem 2rem;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0 0 50px rgba(0, 0, 0, 0.2);
}

.AddVideoForm div{
    margin: 5px;
    padding: 10px;
}
.AddVideoForm div p{
    margin-top: 10px;
    font-size: larger;
    font-weight: bolder;
}
.AddVideoForm div input{
    padding: 5px;
    border-radius: 10px;
    margin-top: 10px;
    font-size: larger;
    font-weight: bolder;
    width: 20rem;
    border: 2px solid black;
    outline: none;
}
.AddVideoForm div textarea{
    padding: 5px;
    border-radius: 10px;
    margin-top: 10px;
    font-size: larger;
    font-weight: bolder;
    max-width: 20rem;
    max-height: 4rem;
    border: 2px solid black;
    outline: none;
}

.AddVideoForm button{
    left: 0;
    right: 0;
    width: 40%;
    border: none;
    cursor: pointer;
    font-size: x-large;
    font-weight: bolder;
    border-radius: 10px;
    background-color: #25d167;  
}
.AddVideoForm button:hover{
    background-color: rgb(40, 194, 122); 
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0 0 50px rgba(0, 0, 0, 0.2);
}
.AddVideoForm .ButtonDiv{
    justify-content: center;
    align-items: center;
    display: flex;
}